html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;

}

body {
  margin-bottom: 60px;
}

fieldset.scheduler-border {
    border: 1px groove rgb(28, 218, 255) !important;
    border-left-color: rgb(0,252,168) !important;
    border-top-color: rgb(0,252,168) !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}

body {
    font-size: medium;
    background: linear-gradient(to right, black, rgb(16, 16, 16),black);
    color:white
}

.clock {
    background: linear-gradient(to right, black, rgb(16, 16, 16),black);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.time {
    color: rgb(28, 218, 255);
    font-size: 2rem;
}

#file-close a:hover {
    background-color: rgb(0,252,168) !important
}

input {
    border-left-color: rgb(0,252,168) !important;
    border-top-color: rgb(0,252,168) !important;
}

