html {
  font-size: 14px;
  background-color: rgb(16,16,16);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 80%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(16,16,16);
    border-width: 3px;
    border-top-color: rgb(28,218,255);
}

.grid{
    border-radius: 5px;
}